<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Post App</title>
</head>
<body class="bg-zinc-900 p-20">
    <div>
        <form action="/create/post" method="post" class="flex flex-col gap-4 items-start">
            <input type="text" placeholder="Title" class="w-full rounded-md bg-gradient-to-r from-zinc-700 via-zinc-500 to-zinc-400 py-2 px-4 font-semibold text-zinc-300" name="title" />
            <textarea rows="6" class="w-full rounded-md bg-gradient-to-r from-zinc-700 via-zinc-500 to-zinc-400 py-2 px-4 font-semibold text-zinc-300" placeholder="Description"></textarea>
            <input type="file" class="w-full rounded-md bg-gradient-to-r from-zinc-700 via-zinc-500 to-zinc-400 py-2 px-4 font-semibold text-zinc-300" name="image" accept=".png, .jpg, .jpeg" />
            <input type="submit" class="py-2 px-6 rounded-md text-zinc-200 hover:text-zinc-400 font-semibold bg-gradient-to-l from-blue-700 via-blue-500 to-blue-400 hover:bg-gradient-to-r hover:from-blue-700 hover:via-blue-500 hover:to-blue-400 cursor-pointer" value="Create" />
        </form>
    </div>
</body>
</html>