<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Register</title>
</head>
<body class="bg-zinc-900 p-20">
    <form action="/signIn" method="post" class="flex flex-col items-start gap-4">
        <h1 class="text-4xl items-center font-extrabold bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent">Sign In</h1>
        <input type="email" placeholder="Enter your email" class="w-full rounded-md bg-gradient-to-r from-zinc-700 via-zinc-500 to-zinc-400 py-2 px-4 font-semibold text-zinc-300" name="title" />
        <input type="password" placeholder="Enter the password" class="w-full rounded-md bg-gradient-to-r from-zinc-700 via-zinc-500 to-zinc-400 py-2 px-4 font-semibold text-zinc-300" name="title" />
        <input type="submit" class="py-2 px-6 rounded-md text-zinc-200 hover:text-zinc-400 font-semibold bg-gradient-to-l from-blue-700 via-blue-500 to-blue-400 hover:bg-gradient-to-r hover:from-blue-700 hover:via-blue-500 hover:to-blue-400 cursor-pointer" value="Sign In" />
    </form>
</body>
</html>