<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Log Out</title>
</head>
<body class="bg-zinc-900 p-20">
    <h1 class="text-4xl items-center font-extrabold bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent">You are logged Out!</h1>
    <a href="/" class="text-blue-400 underline font-semibold mt-16">Sign In</a>
</body>
</html>